h1 {
  font-family: "Montserrat";
}

html {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4;
}

html ::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

html ::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #c4c4c4;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 60px;
  margin-top: 27px;
}

#content .title {
  font-weight: 700;
  font-size: 36px;
}

#content .row {
  margin-top: 36px;
}

#content .row .col-left {
  margin-right: 5px;
}

#content .row .col-right {
  margin-left: 5px;
}

#content .row .col-right .result {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  background-color: #ffffff;
  padding: 10px 15px 15px 10px;
  margin-top: 15px;
  margin-right: 40px;
  height: 360px;
}

#content .row .col-right .result .text {
  margin-top: 20px;
  margin-left: 10px;
}

#content .row .col-right .result .text p {
  margin-bottom: 5px;
  color: #aaa;
  font-size: 18px;
}

#content .row .col-right .result .text p span {
  color: #808080;
  font-weight: 700;
}

#content .row .col-right .result .text p.big-text {
  font-weight: 500;
  color: #aaa;
  padding-left: 40px;
}

#content .row .col-right .result .col-text {
  padding: 0;
}

#content .row .col-right .result .col-text p {
  padding: 0;
}

#content .row .img {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#content .row .img:hover:after {
  content: "";
  cursor: pointer;
  display: block;
  width: 384px;
  height: 433px;
  background-image: url(../assets/svg/loupe-plus.svg);
  position: absolute;
  top: 0;
}

#content .row .img img {
  width: 384px;
  height: 433px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

#content .row h2 {
  font-weight: 700;
  font-size: 24px;
}

#content .row h2.diagnosis {
  margin-bottom: 12px;
}

#content .row h2.recommendation {
  margin-top: 15px;
}

#content .row p {
  padding-left: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #aaaaaa;
}

#content .row .text {
  margin-left: 40px;
  margin-right: 25px;
  margin-top: 8px;
  max-height: 300px;
  overflow-y: scroll;
}

#content .row .text p {
  padding-right: 17px;
}

#imgFullScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 2;
  padding: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  display: none;
}

#imgFullScreen img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#previousButton {
  /* Style for "Background" */
  width: 183px;
  height: 59px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  outline: none;
  border: none;
  position: fixed;
  bottom: 31px;
  left: 90px;
}

#previousButton p {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-top: 17px;
}

#open-buttons {
  position: fixed;
  right: 50px;
  top: 135px;
}

#open-buttons #sidebarCollapse {
  background-color: transparent;
  border: none;
  outline: none;
  height: 24px;
}

#open-buttons #sidebarCollapse p {
  font-weight: 500;
  font-size: 16px;
  color: #aaaaaa;
}

#open-buttons #simularCollapse {
  background-color: transparent;
  border: none;
  outline: none;
}

#sidebarCollapse2 {
  background-color: transparent;
  border: none;
  outline: none;
  height: 24px;
  padding-top: 5px;
  padding-right: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebarCollapse2 p {
  font-weight: 500;
  font-size: 16px;
  color: #aaaaaa;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sidebar {
  min-width: 480px;
  max-width: 480px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 16px;
  padding-left: 20px;
}

#sidebar #data .title {
  font-weight: 700;
  font-size: 27px;
}

#sidebar #data .data-title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 25px;
}

#sidebar #data .data {
  margin-top: 16px;
  margin-right: 20px;
  max-height: 520px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar #data .data span {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #808080;
  padding: 4px 19px;
}

#sidebar #data .data .data1 {
  margin-top: 20px;
  padding-left: 7px;
}

#sidebar #data .data .data1 .col-auto {
  padding-right: 8px;
  padding-left: 8px;
}

#sidebar #data .data .data1 .col-auto p {
  font-weight: 700;
  font-size: 17px;
}

#sidebar #data .data .data1 .col-auto span {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #808080;
  padding: 4px 19px;
}

#sidebar #data .data .data-title2 {
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
}

#sidebar #data .data .d-span {
  margin-left: 2px;
}

#sidebar #data .data .data-title3 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}

#sidebar #data .data .pathologies {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  margin-left: 2px;
}

#sidebar #data .data ul {
  padding-left: 15px;
}

#sidebar #data .data ul li {
  margin-top: 11px;
  margin-bottom: 11px;
  list-style: none;
}

#simular .title {
  font-weight: 700;
  font-size: 36px;
}

#simular #simularCollapse2 {
  background-color: transparent;
  border: none;
  outline: none;
  height: 24px;
  padding-top: 12px;
  padding-right: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#simular #simularCollapse2 p {
  font-weight: 500;
  font-size: 16px;
  color: #aaaaaa;
}

#simular .data {
  margin-top: 16px;
  margin-right: 20px;
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#simular .data .img-min {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#simular .data .img-min:hover:after {
  content: '';
  cursor: pointer;
  display: block;
  width: 110px;
  height: 130px;
  background-image: url(../assets/svg/loupe-plus-min.svg);
  position: absolute;
  top: 0;
}

#simular .data .img-min img {
  width: 110px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#sidebar.active {
  margin-right: -480px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
