h1,
h2,
p {
  font-family: "Montserrat";
}

html {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4;
}

html ::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

html ::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #c4c4c4;
}

h1 {
  font-weight: 700;
  color: #2e2e2e;
  margin-top: 27px;
  margin-left: 60px;
}

.search {
  width: 600px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(170, 170, 170, 0.25);
  margin-left: 60px;
  margin-top: 46px;
}

.search img {
  width: 25px;
  height: 25px;
}

.search input[type="text"] {
  border: none;
  background-color: transparent;
  outline: none;
  width: 510px;
  height: 100%;
  padding-bottom: 3px;
  font-weight: 500;
}

.users {
  width: 90%;
  height: 489px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  background-color: #ffffff;
  margin-top: 32px;
  margin-left: 60px;
  padding-top: 15px;
}

.users ul {
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 30px;
}

.users ul li {
  margin: 14px 0;
  list-style-type: none;
}

.users ul li a {
  text-decoration: none;
}

.users ul li a img {
  width: 100px;
  height: 100px;
}

.users ul li a h2 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
  color: #2e2e2e;
}

.users ul li a p {
  font-weight: 700;
  font-size: 18px;
  color: #aaaaaa;
}
